page-home {
  .pulse-image {
    background-image: url("/assets/imgs/logo.jpg");
    height: 40%;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .text-centered {
    text-align: center;
  }

  .styled-input {
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
  }
}
