<ion-header>
  <ion-navbar>
    <ion-title>
      Search
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<!-- <ion-buttons end>
   <button ion-button icon-only (click)="downloadCSV()">
	   <ion-icon name="download"></ion-icon>
	 </button>
 </ion-buttons> -->

 <ion-list inset>
	 <button ion-item *ngFor="let header of csvData" (click)='goProduct(header)'>
	  {{ header[0] }}

	 </button>
	 <div  *ngIf="csvData.length<1">
		 <ion-item>
		 No Results Found

	 </ion-item>
	   <h3></h3>
	 </div>
</ion-list>



</ion-content>
